@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0px;
  margin: 0px;
  /* overflow: hidden; */
}
html,
body {
  width: 100vw;
  height: 100vh;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.landingpage {
  font-family: "Poppins", sans-serif;
}

.butt {
  border: 1px solid transparent;
  width: 72%;
  margin-top: 1.6vh;
  padding: 0.6em;
  color: white;
  background-color: #2563eb;
  border-radius: 12px;
  /* height: 2%; */
}

.inpboxesofform {
  width: 60%;
  border: 0.54px solid #e2e8f0;
  border-radius: 10px;
}
.inpboxofresetpwd {
  width: 60%;
  border: 1 solid #678ec2;
  border-radius: 10px;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
