@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
html,
body {
  font-size: 18px;
  overflow: hidden;
  /* width: 100vw; */
  min-height: 100%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.landingpage {
  font-family: "Poppins", sans-serif;
}

.butt {
  border: 1px solid transparent;
  width: 100%;
  margin-top: 1.6vh;
  padding: 0.6em;
  color: white;
  background-color: #2563eb;
  border-radius: 12px;
  /* height: 2%; */
}
.butt2 {
  border: 1px solid transparent;
  width: 70%;
  margin-top: 1.6vh;
  padding: 0.6em;
  color: white;
  background-color: #2563eb;
  border-radius: 12px;
}
.butt3 {
  border: 1px solid transparent;
  width: 72%;
  margin-top: 1.6vh;
  padding: 0.6em;
  color: white;
  background-color: #2563eb;
  border-radius: 12px;
  /* height: 2%; */
}
.inpboxesofform {
  display: flex;
  width: 100%;
  align-items: center;
  border: 0.54px solid #e2e8f0;
  border-radius: 10px;
}
.inpboxofresetpwd {
  width: 70%;
  border: 2px solid #678ec2;
  border-radius: 10px;
}
.commonborder {
  border: 0.54px solid #e2e8f0;
  /* padding; */
  border-radius: 12px;
}
input:focus {
  outline: none;
}

#root {
  height: 100%;
}

.stroke-current {
  stroke: currentColor;
}

.bordergraty {
  border-radius: 4px;
  border: 1px solid #e2e8f0 !important;
}
bordergraty2 {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #e2e8f0 !important;
}

.huh input {
  width: 100%;
}

.buttioninorderlab {
  border-radius: 4px;
  background: #2563eb;
}
